---
const Nav = Astro.props
---

<nav >
	<ul class="w-full h-11 flex justify-around bg-lime-300 items-center">
		<li class="p-2 hover:border-b-2 border-red-400"><a href="/">Home</a></li>
		<li class="p-2 hover:border-b-2 border-red-400"><a href="/pokemons">Pokemons</a></li>
		<li class="p-2 hover:border-b-2 border-red-400"><a href="/about">About</a></li>
	</ul>
</nav>